<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>

        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="/javascripts/data.js"></script>
        <script src="/javascripts/charts.js"></script>
    </head>

    <body onload="drawChart()">
        <h1>Save the Human Kind</h1>
        <h2>by answering this quick survey.</h2>
        <p>Two values are marked with dots. <br>
            What do you think the percent of the smaller value to the larger value? <br>
            Please put your answer below. <br>
            E.g. If you think the smaller one is exactly a half of the bigger one, please write 50.
        </p>

        <input id="number" type="number" min="1" max="100" name="number">
        <button id="nButton" onclick="updateChart()">Submit</button>
        <div id="chart-area">
        </div>
    </body>
</html>
